RewriteEngine On

RewriteRule ^([0-9]+)$ /index.php?forum=$1 [L]
RewriteRule ^([0-9]+)-([a-z0-9-]+)$ /index.php?forum=$1&slug=$2 [L]
RewriteRule ^([0-9]+)-([a-z0-9-]+)/([0-9]+)$ /index.php?forum=$1&slug=$2&page=$3 [L]

RewriteRule ^([0-9]+)/([0-9]+)-([a-z0-9-]+)$ /index.php?forum=$1&topic=$2&slug=$3 [L]
RewriteRule ^([0-9]+)/([0-9]+)-([a-z0-9-]+)/([0-9]+)$ /index.php?forum=$1&topic=$2&slug=$3&page=$4 [L]

RewriteRule ^connexion$ /index.php?connexion [L]
RewriteRule ^deconnexion/([0-9a-f]+)-([0-9]+)-([0-9a-f]+)$ /index.php?deconnexion&hash=$1&ts=$2&rand=$3 [L]

RewriteRule ^news$ /index.php?news [L]

RewriteRule ^mp$ /index.php?mp [L]
RewriteRule ^mp/([0-9]+)$ /index.php?mp=$1 [L]
RewriteRule ^mp/([0-9]+)/([0-9]+)$ /index.php?mp=$1&id=$2 [L]

RewriteRule ^scripts/(.+)-([0-9]+)\.js$ /scripts/$1.js [L]
RewriteRule ^style-([0-9]+)\.css$ /style.css [L]
