/* Général */

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 16px/1.4 sans-serif;
  background: #535362 no-repeat;
  background-image: linear-gradient(#313444, #535362);
  margin: 0;
  overflow-y: scroll;
}

a {
  color: #0A77B8;
  text-decoration: none;
}

.liste-topics a:visited {
  color: #888;
}

a:hover, a:active {
  color: #F50 !important;
}

h1, h2, h3 {
  margin: 0;
}

/* Conteneur et feuilles */

.container {
  max-width: 1400px;
  margin: auto;
  padding: 10px;
}

.sheet {
  background: white;
  border: solid rgba(0,0,0,.3);
  border-width: 1px 0;
  border-radius: 15px;
  box-shadow: 0 -1px 10px rgba(0,0,0,.1);
  padding: 0;
}

.sheet-last {
  padding: 10px 30px;
}

.sheet-title {
  padding: 0 20px;
  margin: 5px 0;
}

.sheet-last .sheet-title {
  padding: 0;
}

.sheet-title a {
  color: black;
  padding: 10px;
}

.sheet > .content {
  width: calc(80% - 15px);
  margin-right: 15px;
  float: left;
}

.sheet > .aside {
  width: 20%;
  float: left;
}

.aside .menu {
  background: #ededed;
  margin-left: 15px;
}

.aside .menu .title {
  font-size: 1em;
  padding: 2px 8px;
  background: #2f4f5c;
  background-image: linear-gradient(#2f4f5c 0, #3b6272 40%, #335462 40%, #2f4f5c 100%);
  color: white;
  text-transform: uppercase;
}

.aside .menu .menu-content {
  padding: 2px 8px;
}

.clearfix {
  clear: both;
}

/* Liste des topics */

.liste-topics a {
  background: #E9EFFA;
  display: block;
  border-left: grey 5px solid;
  display: table;
  width: 100%;
}

.liste-topics a:nth-child(even) {
  background: #f5f5f5;
}

.liste-topics .title, .liste-topics .author, .liste-topics .nb-answers, .liste-topics .date {
  _float: left;
  display: table-cell;
  vertical-align: middle;
}

.liste-topics .title {
  width: 60%;
  font-size: 14px;
  padding-left: 8px;
  padding-top: 4px;
}

.liste-topics .author {
  width: 15%;
  font-size: 14px;
}

.liste-topics .nb-answers {
  width: 10%;
  font-size: 14px;
  text-align: right;
}

.liste-topics .date {
  width: 20%;
  font-size: 14px;
  text-align: center;
}

.liste-topics .border {
  height: 1px;
  background: white;
  margin-top: 4px;
  clear: both;
}

.liste-topics a:last-child .border {
  background: #E9EFFA;
  margin-top: 3px;
}

.liste-topics a:nth-child(even):last-child .border {
  background: #f5f5f5;
}

/* Dossiers sur la liste des topics */

.liste-topics .label-dossier1 {
  border-color: #ffcc00;
}

.liste-topics .label-dossier2 {
  border-color: #e36254;
}

.liste-topics .label-lock {
  border-color: #333;
}

.liste-topics .label-marque-on {
  border-color: #7cac37;
}

.liste-topics .label-marque-off {
  border-color: #b72a2a;
}

.liste-topics .label-resolu {
  border-color: #5aa02c;
}

.liste-topics .label-ghost {
  border-color: #0cf;
}

/* Couleurs pseudos modos/admins */

.pseudo-modo {
  color: #080;
}

.pseudo-admin {
  color: #c00;
}

/* Liste des pages */

.pages {
  padding-bottom: 10px;
  text-align: center;
}

.pages-container {
  display: inline-block;
}

.pages .faketable {
  display: table;
  height: 45px;
  width: 45px;
  float: left;
  margin-left: 5px;
}

.pages .link {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  border-radius: 99px;
  font-size: 15px;
  padding: 2px;
}

.pages .link.sign {
  font-size: 32px;
  line-height: 16px;
}

.pages :visited {
  color: #888;
}

.pages a:hover {
  background: #eee;
}

.pages .active {
  background: #f60;
  color: white;
  font-weight: bold;
}

.pages .active:hover {
  background: #f60;
  color: white !important;
}

/* Messages */

.message {
  font-size: 14px;
}

.message .meta-author {
  width: 10%;
  float: left;
  text-align: center;
}

.message .meta-author .author {
  display: block;
  font-size: 110%;
  font-weight: bold;
}

.message .meta-author .avatar img {
  max-width: 70px;
  max-height: 70px;
  border-radius: 3px;
}

.message .content {
  width: 75%;
  float: left;
  border: 1px solid #d1d1d1;
  background: #F9F9F9;
  min-height: 80px;
  margin-bottom: 12px;
  padding: 0 .5em;
}

.message .blockquote-jv {
  margin: 1em 0;
  border-left: 4px solid rgba(0,0,64,.4);
  padding: 1px 5px;
  background: rgba(0,0,64,.025);
}

.message > .blockquote-jv {
  font-size: 95%;
}

.message .blockquote-jv > p {
  margin: .5em 0;
}

.message:nth-child(even) .content {
  background: #EFF4FC;
  border-color: #C0D7ED;
}

.message .meta-actions {
  width: 13.5%;
  margin-left: 1.5%;
  float: right;
  font-size: 12px;
  overflow: hidden;
}

.message .meta-actions span {
  display: block;
}

.message .meta-actions .meta-permalink {
  white-space: nowrap;
}
