/* GÉNÉRAL */

html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font: 16px/1.4 sans-serif;
  margin: 0;
  overflow-y: scroll;
  color: #333;
  background: #ff9025;
  padding-bottom: 5px;
  -webkit-text-size-adjust: 100%;
}

@media (min-width: 1025px) {
  body {
    background-color: #ffac2f;
    background-repeat: no-repeat;
    background-image: linear-gradient(#ff9025, #ffac2f);
    padding-bottom: 20px;
  }
}

a {
  color: #0A77B8;
  text-decoration: none;
}

.liste-topics a:visited {
  color: #888;
}

a:hover, a:active {
  color: #F50 !important;
}

h1, h2, h3 {
  margin: 0;
}

@media (min-width: 1025px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
}

#instantclick-bar {
  background: #9c0;
}

/* HEADER */

.site-header {
  display: table;
  width: 100%;
}

@media (min-width: 1025px) {
  .site-header {
    max-width: 1420px;
    margin: auto;
    padding: 0 10px;
  }
}

.site-title {
  display: table-cell;
}

.site-title-link {
  color: white;
  padding: 5px 10px;
  display: inline-block;
}

.site-title-link:hover, .site-title-link:active {
  color: white !important;
}

.site-title-spacer {
  padding-right: 1px;
}

.site-login-container {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.site-login-link {
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.site-login-link.logout {
  font-weight: normal;
}

/* SHEET */

.sheet {
  background: white;
  border: solid rgba(0,0,0,.3);
  border-color: #ea3f00;
  border-width: 1px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(234, 63, 0, 0.5);
  padding: 5px 0 10px;
  position: relative;
  overflow: auto;
  margin-bottom: 10px;
}

@media (min-width: 1025px) {
  .sheet {
    width: calc(100% - 20px);
    margin: 0 auto 10px;
    max-width: 1400px;
    border-width: 1px;
    border-radius: 15px;
    padding: 10px 30px;
  }
}

.sheet-title {
  padding: 0 10px;
  margin: 5px 0 10px;
}

@media (min-width: 1025px) {
  .sheet-title {
    padding: 0;
    margin: 5px -10px 10px;
  }
}

.sheet-title a {
  color: #333;
}

@media (min-width: 1025px) {
  .sheet-title a {
    padding: 10px;
  }
}

.sheet > .content {
}

@media (min-width: 1025px) {
  .sheet > .content {
    width: calc(80% - 15px);
    margin-right: 15px;
    float: left;
  }

  .sheet > .content.no-menu {
    width: initial;
    margin-right: initial;
    float: initial;
  }
  
  .sheet > .content.login-fake-table {
    display: table;
    width: 100%;
  }
}

/* MENU */

.sheet > .aside {
  margin: 10px 10px 0;
}

@media (min-width: 1025px) {
  .sheet > .aside {
    margin: 0;
    width: 20%;
    float: left;
  }
}

.aside .menu {
  background: #ededed;
  margin-bottom: 10px;
  border-radius: 0 10px 0 10px;
}

@media (min-width: 1025px) {
  .aside .menu {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

.aside .menu .title {
  font-size: 1em;
  padding: 2px 8px;
  background: #0da0ca;
  background-image: linear-gradient(#0ebbed 0, #0da0ca 50%, #0382a6 50%, #0382a6 100%);
  color: white;
  text-transform: uppercase;
  border-radius: 0 10px 0 0;
  font-size: 15px;
}

.aside .menu .menu-content {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  list-style: none;
  background: #C7E3F1;
  background-image: linear-gradient(#97cce5 0, #C7E3F1 60px);
  border-radius: 0 0 0 10px;
}

.aside .menu .menu-content a, .aside .menu .menu-content span {
  color: #014F65;
  display: block;
  padding: 8px 8px 6px;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #72b4c9;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .aside .menu .menu-content a, .aside .menu .menu-content span {
    padding: 2px 8px;
  }
}

.aside .menu .menu-content a:hover, .aside .menu .menu-content span:hover {
  color: white !important;
  background: #59AAC6;
}

#forums_pref, #topics_pref {
  display: none;
}


/* DIVERS */

.clearfix {
  clear: both;
}

.ouvrir-jvc {
  display: block;
  position: absolute;
  right: 30px;
  border: 1px solid #ddd;
  padding: 4px 10px;
  border-radius: 5px;
  top: 20px;
  color: #333;
}

@media (max-width: 1024px) {
  .ouvrir-jvc {
    display: none;
  }
}

.ouvrir-jvc:hover {
  border-color: #ccc;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

/* PAGE D’ACCUEIL */

.salespage {
  padding: 10px 10px;
  max-width: 800px;
  margin: auto;
}

@media (min-width: 1025px) {
  .salespage {
    padding: 20px 0;
  }
}

.salespage .screen-mobile {
  margin-left: 5px;
}

.salespage .screen-mobile img {
  width: 90px;
  height: 160px;
}

.salespage .screen-desktop {
  margin-left: 5px;
}

.salespage .screen-desktop img {
  width: 232px;
  height: 136px;
}

@media (min-width: 500px) {
  .favorites-index {
    overflow: auto;
  }

  .favorites-forums, .favorites-topics {
    float: left;
  }

  .favorites-forums {
    width: 40%;
  }

  .favorites-topics {
    width: 57%;
    margin-left: 3%;
  }
}

.favorites-index h3 {
  padding: 0 10px;
  margin: .5em 0;
}

@media (min-width: 1025px) {
  .favorites-index h3 {
    padding: initial;
  }
}

.favorites-index .favorite {
  background: #f9f9f9;
  display: block;
  padding: 10px;
}

@media (min-width: 1025px) {
  .favorites-index .favorite {
    padding: 4px 10px;
  }
}

.favorites-index .favorite.odd {
  background: #EFF4FC;
}

/* CONNEXION */

.form-container {
  padding: 0 10px;
}

@media (min-width: 1025px) {
  .form-container {
    padding: 0;
  }
}

.connection-error {
  background: rgba(255,0,0,.1);
  padding: 1em;
  border-radius: 2px;
}

.input {
  font-size: 1.5em;
  border: 1px solid #9c0;
  border-radius: 1px;
  padding: 2px 5px;
  font-family: sans-serif;
  width: 100%;
  box-shadow: inset 0 1px 3px rgba(153, 204, 0, .4);
}

@media (min-width: 1025px) {
  .input {
    width: initial;
  }
}

.input:focus {
  background: hsl(75, 100%, 95%);
  outline: none;
}

.submit {
  border: 1px solid #ccc;
  background: #d0d0d0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(50%, #dedede), color-stop(50%, #c5c5c5));
  background: -webkit-linear-gradient(#f4f4f4 0%, #dedede 50%, #c5c5c5 50%);
  background:         linear-gradient(#f4f4f4 0%, #dedede 50%, #c5c5c5 50%);
  color: #333;
  font-weight: bold;
  border-radius: 0 5px 0 5px;
  font-size: 1em;
  padding: 5px 15px;
  text-shadow: 0 1px 10px white;
  cursor: pointer;
  -webkit-appearance: none; /* iOS 6 */
}

.captcha {
  border-radius: 3px;
}

.input-captcha {
  font-size: 2em;
  width: 240px;
}

/* FORUM */

@media (max-width: 1024px) {
  h1.forum-title {
    font-size: 1.5em;
  }
}

.sheet-title .reload-sign {
  font-size: .8em;
  padding-left: 10px;
  color: #888;
}

.sheet-title a:hover .reload-sign {
  color: inherit;
}

.liste-topics {
  display: table;
  width: 100%;
}

@media (min-width: 1025px) {
  .liste-topics {
    display: block;
  }
}

.topic {
  display: table-row;
  background: #E9EFFA;
  border-left: grey 5px solid;
  font-size: 14px;
}

@media (min-width: 1025px) {
  .topic {
    display: block;
  }
}

.topic.even {
  background: #f5f5f5;
}

@media (min-width: 1025px) {
  .topic:hover {
    background-image: linear-gradient(rgba(255, 85, 0, 0.05), rgba(255, 85, 0, 0.05));
  }
}

@media (min-width: 1025px) {
  .liste-topics .title, .liste-topics .author, .liste-topics .nb-answers, .liste-topics .date {
    display: inline-block;
  }
}

@media (max-width: 1024px) {
  .liste-topics .label {
    display: table-cell;
    width: 4px;
    background: grey;
  }
}

.topic-main-link {
  display: table-cell;
}

@media (max-width: 1024px) {
  .topic-main-link, .topic-last-page {
    color: hsl(202, 90%, 20%);
  }
  
  .topic-main-link:visited, .topic-last-page:visited {
    color: hsl(202, 20%, 48%) !important;
  }
}

@media (max-width: 1024px) {
  .topic-main-link {
    padding: 4px 0;
    padding-left: 5px;
    border-right: 1px solid rgba(0,0,32,.03);
  }
}

@media (min-width: 1025px) {
  .topic-main-link {
    display: inline-block;
    width: 75%;
    padding-bottom: 2px;
  }
}

.topic-last-page {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media (max-width: 1024px) {
  .topic-last-page {
    padding: 0 5px;
  }
}

@media (min-width: 1025px) {
  .topic-last-page {
    display: inline-block;
    width: 24%;
    padding-bottom: 2px;
  }
}

.liste-topics .title {
}

@media (min-width: 1025px) {
  .liste-topics .title {
    width: 80%;
    padding-left: 8px;
    padding-top: 4px;
  }
}

.liste-topics .author {
  font-size: 12px;
}

@media (min-width: 1025px) {
  .liste-topics .author {
    width: 19%;
    font-size: 14px;
  }
}

.liste-topics .nb-answers {
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .liste-topics .nb-answers {
    font-size: 13px;
  }
}

@media (min-width: 1025px) {
  .liste-topics .nb-answers {
    width: 38%;
    text-align: right;
  }
}

@media (max-width: 1024px) {
  .liste-topics .nb-answers .rep {
    display: none;
  }
}

.liste-topics .date {
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .liste-topics .date {
    font-size: 12px;
  }
}

@media (min-width: 1025px) {
  .liste-topics .date {
    width: 60%;
    text-align: center;
  }
}

.topic.ignored a {
  opacity: 0;
}

.topic.ignored:hover a {
  opacity: 1;
}

/* FORUM - Dossiers sur la liste des topics */

.liste-topics .label-dossier1 {
  border-color: #ffcc00;
}

.liste-topics .label-dossier2 {
  border-color: #e36254;
}

.liste-topics .label-lock {
  border-color: #333;
}

.liste-topics .label-marque-on {
  border-color: #7cac37;
}

.liste-topics .label-marque-off {
  border-color: #b72a2a;
}

.liste-topics .label-resolu {
  border-color: #5aa02c;
}

.liste-topics .label-ghost {
  border-color: #0cf;
}

@media (max-width: 1024px) {
  .label-dossier1 .label {
    background: #ffcc00;
  }

  .label-dossier2 .label {
    background: #e36254;
  }

  .label-lock .label {
    background: #333;
  }

  .label-marque-on .label {
    background: #7cac37;
  }

  .label-marque-off .label {
    background: #b72a2a;
  }

  .label-resolu .label {
    background: #5aa02c;
  }

  .label-ghost .label {
    background: #0cf;
  }
}

/* FORUM - Pagination */

.pagination-forum {
  position: relative;
  margin: 10px;
}

@media (min-width: 1025px) {
  .pagination-forum {
    margin: 10px 0;
  }
}

.pagination-forum .precedent {
  text-align: left;
  position: absolute;
}

.pagination-forum .precedent a.debut {
  display: inline-block;
  padding-left: 16px;
  background: url(/images/page_debut.svg) -6px no-repeat;
  margin-right: 20px;
}

.pagination-forum .precedent a.precedent-lien {
  display: inline-block;
  padding-left: 16px;
  background: url(/images/page_prec.svg) -8px no-repeat;
}

.pagination-forum .page {
  text-align: center;
  width: 100%;
}

.pagination-forum .page.hidden {
  visibility: hidden;
}

.pagination-forum .page span {
  background: #f60;
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 3px 5px;
}

.pagination-forum .suivant {
  text-align: right;
  position: absolute;
  right: 0;
}

.pagination-forum .suivant a {
  display: inline-block;
  padding-right: 16px;
  background: url(/images/page_suiv.svg) right -8px center no-repeat;
}

/* TOPIC */

.forum-title a {
  color: #9c0;
}

@media (max-width: 1024px) {
  h2.forum-title {
    font-size: 1.17em;
    padding: 0 10px;
    margin: 5px 0;
  }
  
  .topic-title {
    font-size: 1.5em;
  }
}

@media (min-width: 1025px) {
  .topic-title {
    padding-left: 10px;
  }
}

/* TOPIC - Pagination */

.pages {
  margin-bottom: 10px;
  text-align: center;
}

.pages-forum {
  text-align: right;
  margin-bottom: 0;
  margin-top: 10px;
}

.pages-left {
  float: left;
}

.pages-container {
  display: inline-block;
  text-align: center;
}

.pages .faketable {
  display: table;
  height: 45px;
  width: 45px;
  float: left;
  margin-left: 5px;
}

@media (max-width: 700px) {
  .pages .faketable {
    width: 30px;
    height: 30px;
  }
  .pages .faketable.empty {
    display: none;
  }
}

.pages .link {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  border-radius: 99px;
  font-size: 15px;
  padding: 2px;
}

.pages .link.sign {
  font-size: 32px;
  line-height: 16px;
}

.pages :visited {
  color: #888;
}

.pages a:hover {
  background: #eee;
}

.pages .active {
  background: #f60;
  color: white;
  font-weight: bold;
}

.pages .active:hover {
  background: #f60;
  color: white !important;
}

/* TOPIC - Messages */

.liste-messages {
}

@media (min-width: 1025px) {
  .liste-messages {
    margin: 0 -30px;
  }
}

@media (min-width: 1025px) {
}

.message {
  font-size: 14px;
  border: solid #d1d1d1;
  border-width: 1px 0;
  background: #f9f9f9;
  margin-bottom: 10px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 1025px) {
  .message {
    border: initial;
    background: initial;
    margin-bottom: initial;
  }
}

.message.even {
  background: #EFF4FC;
  border-color: #C0D7ED;
}

@media (min-width: 1025px) {
  .message.even {
    background: initial;
  }
}

.message-header {
  display: table;
  width: 100%;
}

/* TOPIC - Message - author */

@media (min-width: 1025px) {
  .message-header {
    display: initial;
    padding-top: initial;
  }
}

.message .meta-author {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
}

@media (min-width: 1025px) {
  .message .meta-author {
    display: initial;
    padding-left: initial;

    width: 10%;
    float: left;
    text-align: center;
  }
}

.message .meta-author .author {
  font-weight: bold;
}

.message .meta-author .author .m-profil {
  color: inherit;
}

@media (min-width: 1025px) {
  .message .meta-author .author {
    font-size: 110%;
    line-height: 1;
    margin-bottom: 2px;
    color: #111;
    word-wrap: break-word;
    padding: 0 3px;
  }
  
  .message .meta-author .author.desktop {
    display: block;
  }
}

.message .meta-author .avatar {
}

@media (min-width: 1025px) {
  .message .meta-author .avatar {
    margin-left: initial;

    display: inline-block;
    margin-bottom: 5px;
  }
}

.message .meta-author .avatar a {
  padding: 5px;
  display: inline-block;
}

@media (min-width: 1025px) {
  .message .meta-author .avatar a {
    padding: initial;
  }
}

.message .meta-author .avatar img {
  max-width: 40px;
  max-height: 40px;
  vertical-align: middle;
  border-radius: 2px;
}

@media (min-width: 1025px) {
  .message .meta-author .avatar img {
    display: initial;

    max-width: 40px;
    max-height: 40px;
    border-radius: 3px;
  }
}

.message .meta-author .author.mobile {
}

.message .meta-author .author.mobile a {
  padding: 5px;
  display: inline-block;
}

/* TOPIC - Message - actions */

.message .meta-actions {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

@media (min-width: 1025px) {
  .message .meta-actions {
    display: initial;
    text-align: initial;

    width: 8.5%;
    margin-left: 1.5%;
    float: right;
    overflow: hidden;
    margin-bottom: 12px;
  }
}

.message .meta-actions span {
  display: none;
}

@media (min-width: 1025px) {
  .message .meta-actions span {
    display: block;
    padding: 1px 0;
  }
}

.message .meta-actions span, .ignored-message span {
}

@media (min-width: 1025px) {
  .message .meta-actions span, .ignored-message span {
    cursor: pointer;
    font-size: 12px;
  }
}

.message .meta-actions span:hover, .ignored-message span:hover {
}

@media (min-width: 1025px) {
  .message .meta-actions span:hover, .ignored-message span:hover {
    color: #111;
  }
}

.message .meta-actions .meta-permalink {
  display: initial;
}

@media (min-width: 1025px) {
  .message .meta-actions .meta-permalink {
    white-space: nowrap;
  }
}

.message .meta-actions .meta-menu {
  display: inline-block;
  width: 34px;
  height: 34px;
  background: url(/images/ic_menu_24px.svg) center no-repeat;
  margin-right: 5px;
  vertical-align: middle;
}

@media (min-width: 1025px) {
  .message .meta-actions .meta-menu {
    display: none;
  }
}

/* TOPIC - Message - mobile menu */

.message .not-action-menu {
  -webkit-transition: -webkit-transform .1s;
          transition: transform .1s, -webkit-transform .1s;
}

.message.show-menu .not-action-menu {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.message .action-menu {
  position: absolute;
  left: calc(100% - 200px);
  display: none;
}

.message.show-menu .action-menu {
  display: block;
}

.message .action-menu .action {
  display: inline-block;
  width: 90px;
  text-align: center;
  font-weight: bold;
  vertical-align: bottom;
  border: 1px solid rgba(0,0,0,.1);
  margin-right: 10px;
  margin-top: 5px;
  padding-top: 30px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-position: center 5px;
  background-repeat: no-repeat;
}

.message .action-menu .meta-quote {
  background-image: url(/images/ic_reply_24px.svg);
}

.message .action-menu .meta-ignore {
  background-image: url(/images/ic_visibility_off_24px.svg);
}

.message .action-menu .meta-delete {
  background-image: url(/images/ic_delete_24px.svg);
}

/* TOPIC - Message - border */

.message-border {
  border-bottom: 1px dotted #444;
  border-color: rgba(0,0,0,.4);
  width: calc(100% - 20px);
  margin: auto;
}

/* TOPIC - Message - content */

.message .content {
  padding: 0 10px;
  word-wrap: break-word;
}

@media (min-width: 1025px) {
  .message .content {
    width: 80%;
    float: left;
    border: 1px solid #d1d1d1;
    background: #F9F9F9;
    margin-bottom: 12px;
    padding: 0 .5em;
    color: black;
  }
}

.message .edit-mention {
  font-size: .8em;
  color: rgba(0,0,0,.5);
}

.message .blockquote-jv {
  margin: 1em 0;
  border-left: 4px solid rgba(0,0,64,.4);
  padding: 1px 6px;
  background: rgba(0,0,64,.025);
}

.message .content > .blockquote-jv {
  margin-left: -10px;
  margin-right: -10px;
  padding-right: 10px;
}

@media (min-width: 1025px) {
  .message .content > .blockquote-jv {
    font-size: 95%;
    margin-left: -8px;
    margin-right: -7px;
    padding-right: .5em;
  }
}

.message .blockquote-jv > p {
  margin: .5em 0;
}

.message .content > .pre-jv, .message .content p > .code-jv {
  font-size: 95%;
  font-family: Menlo, Consolas, monospace;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 3px;
  background: rgba(239,239,239,.8);
}

.message .pre-jv {
  padding: .5em 7px;
}

.message .code-jv {
  padding: 2px 3px;
}

.message .bloc-spoil-jv {
  background: red;
  background-image: linear-gradient(rgb(255,64,64), rgb(255,96,96));
  border: 1px solid red;
  border-radius: 2px;
  padding: 0 2px;
}

.message .bloc-spoil-jv .contenu-spoil {
  visibility: hidden;
}

.message .bloc-spoil-jv.shown {
  background: transparent;
}

.message .bloc-spoil-jv.shown .contenu-spoil {
  visibility: visible;
}


.message.even .content {
}

@media (min-width: 1025px) {
  .message.even .content {
    background: #EFF4FC;
    border-color: #C0D7ED;
  }
}

.message .ignored-message {
  display: none;
}

.message.ignored .meta-author, .message.ignored .meta-actions, .message.ignored .message-border, .message.ignored .content {
  display: none;
}

.message.ignored .ignored-message {
  display: block;
  line-height: 24px;
  padding: 0 10px;
}

@media (min-width: 1025px) {
  .message.ignored .ignored-message {
    padding: 0 .5em;
    border: 1px solid #d1d1d1;
    background: #F9F9F9;
    margin-bottom: 12px;
    width: 80%;
    margin-left: 10%;
  }
}

.message.even.ignored .ignored-message {
}

@media (min-width: 1025px) {
  .message.even.ignored .ignored-message {
    background: #EFF4FC;
    border-color: #C0D7ED;
  }
}

.message.ignored .ignored-message .meta-unignore {
  float: right;
  width: 24px;
  height: 24px;
  overflow: hidden;
  background-image: url(/images/ic_visibility_24px.svg?);
  color: transparent;
}

@media (min-width: 1025px) {
  .message.ignored .ignored-message .meta-unignore {
    width: initial;
    height: initial;
    background-image: initial;
    color: inherit;
  }
}

.message:target {
  background: rgba(255, 85, 0, .07);
}

/* TOPIC - Boutons en bas */

.bottom-back-buttons {
  padding: 10px;
  display: table;
  width: 100%;
}

@media (min-width: 1025px) {
  .bottom-back-buttons {
    padding: 10px 0;
  }
}

.bottom-back-buttons span {
  display: table-cell;
}

.bottom-back-buttons span.align-right {
  text-align: right;
}

/* FORUM/TOPIC - Couleurs pseudos modos/admins */

.pseudo-modo, .message .meta-author .author.pseudo-modo {
  color: #080;
}

.pseudo-admin, .message .meta-author .author.pseudo-admin,
.pseudo-staff, .message .meta-author .author.pseudo-staff {
  color: #c00;
}

/* FORUM/TOPIC - Formulaire de post */

.form-post {
  margin: 10px 0;
  border: 0 solid #9c0;
  border-bottom-width: 1px;
}

@media (min-width: 1025px) {
  .form-post {
    border-width: 0 1px 1px;
    border-radius: 4px 4px 0 0;
  }
}

.form-post .titre-bloc {
  background: #9c0;
  color: white;
  padding: 2px 11px;
  font-weight: bold;
  font-size: 1.1em;
  display: block;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .form-post .titre-bloc {
    border-radius: 3px 3px 0 0;
  }
}

.form-post.locked {
  border-color: #333;
}

.form-post.locked .titre-bloc {
  background: #333;
  cursor: default;
}

.form-post-inner {
  position: relative;
  padding: 10px 0;
}

@media (min-width: 1025px) {
  .form-post-inner {
    padding: 10px;
  }
}

.form-error {
  margin: 10px;
  background: #fdfdf0;
  border: 1px solid #fbd4ad;
  display: none;
  border-radius: 1px;
}

.form-error.show {
  display: initial;
}

.form-error p {
  margin: 1em 1.5em;
  color: #e50a09;
}

.input.newsujet {
  font-size: 1.2em;
  width: 100%;
  padding: 3px 5px;
  border-width: 1px 0;
  border-color: #9c0;
  -webkit-appearance: none;
  margin-bottom: 10px;
}

@media (min-width: 1025px) {
  .input.newsujet {
    border-width: 1px;
  }
}

.input.textarea {
  font-size: 19px;
  width: 100%;
  resize: vertical;
  height: 200px;
  padding: 4px 6px;
  border-width: 1px 0;
  border-color: #9c0;
  -webkit-appearance: none;
}

@media (min-width: 1025px) {
  .input.textarea {
    border-width: 1px;
  }
}

.submit-main {
  border-color: #666;
  color: white;
  background: #d0d0d0;
  background: linear-gradient(#adadad 0%, #8c8c8c 50%, #666 50%);
  text-shadow: 0 1px 10px black;
}

.submit-big {
  font-size: 1.2em;
  padding: 6px 20px;
}

.form-post .submit {
  margin-left: 10px;
}

@media (min-width: 1025px) {
  .form-post .submit {
    margin-left: 0;
  }
}

.form-post-inner .captcha {
  position: absolute;
  margin-left: 20px;
}

/* NOUVEAUTÉS */

.news {
  padding: 0 10px;
}

.news h2 {
  margin: .83em 0;
}

.news li {
  margin-bottom: .5em;
}

/* FOOTER */

.site-footer {
  text-align: center;
  font-size: 13px;
}

.site-footer a {
  color: inherit;
  text-decoration: underline;
}
