.card {
  background: hsl(0, 0%, 20%);
  margin: 10px 8px;
  position: relative;
  border-radius: 2px;
  padding: 10px;
  word-wrap: break-word;
}

@media (min-width: 400px) {
  .card {
    margin: 10px 10px;
    padding: 10px 12px;
  }
}

.card__header {
  color: hsla(0, 0%, 100%, .4);
  padding: 0 0 5px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid hsla(0, 0%, 0%, .125);
  margin: 0 -10px;
  text-indent: 10px;
}

@media (min-width: 400px) {
  .card__header {
    margin: 0 -12px;
    text-indent: 12px;
  }
}

.card__body {
  padding-top: 10px;
}



.card--poll {
  margin-top: 0;
  margin-bottom: 16px;
  background: #EDE7F6;
}

@media (min-width: 600px) {
  .card--poll {
    margin-bottom: 20px;
  }
}

@media (min-width: 1025px) {
  .card--poll {
    margin-left: 200px;
    margin-right: 0;
  }
}
