.menu {
  margin: 15px 10px;
  background: hsl(214, 27%, 40%);
  padding: 2px 0;
  border-radius: 3px;
}

@media (min-width: 1025px) {
  .menu {
    margin: 15px 0;
  }
}

.menu__item {
  display: block;
  color: hsl(214, 27%, 5%);
  font-weight: bold;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  padding: 13px 10px;
}

@media (min-width: 1025px) {
  .menu__item {
    padding: 6px 10px;
  }
}

.menu__item + .menu__item {
  border-top: 1px solid hsl(214, 27%, 33%);
}

.menu__item:hover {
  background: hsl(214, 37%, 55%);
}

.menu__item--blank-state {
  text-align: center;
  font-weight: normal;
  font-size: 11px;
  color: hsl(166, 100%, 70%);
  cursor: default;
}

.menu__item--blank-state:hover {
  background: transparent;
  color: hsl(166, 100%, 70%);
}
