@media (min-width: 1025px) {
  .mobile {
    display: none;
  }
}

@media (MAX-width: 1024px) {
  .desktop {
    display: none;
  }
}

.jvc {
  font-variant: small-caps;
  font-weight: bold;
}

.number {
  word-spacing: -1px;
}

.pseudo--modo {
  color: #00c853;
}

.pseudo--admin,
.pseudo--staff {
  color: #D50000;
}

.back-button-container {
  text-align: center;
  margin: 30px 0 50px;
}
