.content--timeout {
  padding: 15px;
  font-size: 16px;
}

@media (min-width: 1025px) {
  .content--timeout {
    padding: 30px;
  }
}

.page-title--timeout {
  margin: 0;
  font-size: 21px;
}

@media (min-width: 400px) {
  .page-title--timeout {
    font-size: 23px;
  }
}

@media (min-width: 1025px) {
  .page-title--timeout {
    font-size: 25px;
  }
}
