.poll__title {
  margin: 0 0 10px;
  color: #512DA8;
}

.poll__answer {
  position: relative;
  padding: 2px 5px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  border-radius: 2px;
  background: white;
}

.poll__answer:first-child {
  border-top-width: 1px;
}

.poll__answer-bar {
  position: absolute;
  height: 100%;
  background: #D1C4E9;
  margin: -2px -5px;
  border-radius: 2px;
}

.poll__answer-name {
  position: relative;
  z-index: 1;
  color: #311B92;
  margin-right: 45px;
}

.poll__answer-votes {
  text-align: right;
  z-index: 1;
  font-weight: bold;
  color: #673AB7;
  position: absolute;
  top: 2px;
  right: 5px;
  top: calc(50% - 10px);
}

.poll__info {
  margin-top: 10px;
  color: #9575CD;
}

.poll__closed-notice {
  color: #424242;
  font-size: 12px;
}

.poll__go-vote {
  color: #4527A0;
}
